<div class="container">
<%= search_form_for @q do |f| %>
    
    <%= f.label :name_cont%>
    <%= f.search_field :name_cont %>
  
   
  
    <%= f.submit %>
  <% end %>


<hr>


<h3><strong><%="#{@posts.size.to_s} ARTISTS FOUND."%></strong></h3>
<hr>

    <div class="row">
    
         <% @posts.each do |post|%>
          <div class="col-md-4">
          <div class="content">
          <li><strong>Artist is created by <%=post.user.name%></strong></li>
          <li><strong>Name of Artist:</strong><%=post.name%></li>
          <li><strong>Email id:</strong><%=post.email%></li>
      
          <% if post.category %>
          <li><strong>This Artist is a </strong><%=post.category.category%></li>
          <%end%>
        
        
       
          <li><h4>Total ratings:<span><%=rating(post.stars)%></span></h4></li>
         
         
          
          <% if logged_in? %>
        
          <%=form_for @star do |f|%>
              <div class="input-group mb-3">
               <%=f.hidden_field :post_id,value:post.id%>
              <h4>Add Ratings</h4>
              <%= f.select:star,[1,2,3,4,5] %>
              
              <span><%=f.submit "Post",class:"btn btn-xs btn-success  input-group-text pt-2"%></span> 
              </div>
          <%end%>
          <hr>
      <%=form_for @comment do |f|%>
          <div class="input-group mb-3">
          <%=f.hidden_field :post_id,value:post.id%>
          <%=f.text_field :comment,placeholder: "Add review here"%>
          <span><%=f.submit "Post",class:"btn btn-sm btn-success input-group-text pt-2"%></span> 
          </div>
      <%end%>

     


     
    
      <li><%= link_to "View artist", post_path(post.id), class: "btn btn-sm btn-primary" %></li>
      
      <%end%>
         
  
      <hr>
          
          </div>
             
        </div>
    <%end%>
    

    
    </div>
</div>